@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.cursor{
    cursor: pointer;
    color: white;
}

.logout {
    text-decoration: none;
    color: #fff;
  }

  .navbar{
    background-color: #806251 !important;
  }