@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.bg-login{
    min-height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1616608869590-a0ee93ba1863?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .text-decoration-none {
    text-decoration: none;
  }

  .fonte{
    font-family: 'Roboto Condensed', sans-serif !important;

  }

 