.caixa{
  background-color: #F4F6F6;
}

.titulo{
 color: #857b71  !important;
 font-weight: bold !important;
 font-family: 'Roboto Condensed', sans-serif;
}

.botao{
  border-color: #857b71  !important;
  background-color: #F4F6F6;
  color: #857b71  !important;
}

.postagens{
  background-color: #F4F6F6;
}